@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,400&display=swap");
html {
  font-family: 'Red Hat Display', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60rem;
}

main {
  text-align: center;
  width: 90%;
  margin: 4rem auto;
  border-radius: 1rem;
  overflow: hidden;
  background: #f5f7ff;
}

main header img {
  width: 100%;
  max-width: 100%;
}

main footer .footer-container {
  text-align: center;
  padding: 2.8rem 1.5rem 2.5rem;
}

main footer .footer-container h1 {
  font-size: 1.5rem;
  color: #1f2f56;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

main footer .footer-container p {
  font-size: 0.9rem;
  color: #7280a7;
  line-height: 1.2rem;
  max-width: 15rem;
  margin: 0 auto;
  margin-bottom: 2.2rem;
}

main footer .footer-container .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

main footer .footer-container .price-container .annual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main footer .footer-container .price-container .annual h4 {
  color: #1f2f56;
  font-weight: 700;
}

main footer .footer-container .price-container .annual .mn {
  font-size: 0.9rem;
  color: #7280a7;
}

main footer .footer-container .price-container a {
  margin-left: 1.2rem;
  color: #3829e0;
}

main footer .footer-container .price-container a:focus {
  outline: none;
}

main footer .footer-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main footer .footer-container .btn button {
  width: 100%;
  border: none;
  background: #3829e0;
  color: #f5f7ff;
  font-weight: 700;
  padding: 0.9rem 0;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.637);
          box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

main footer .footer-container .btn a {
  font-size: 0.95rem;
  color: #7280a7;
  font-weight: 500;
  text-decoration: none;
}

main footer .footer-container .btn a:focus {
  outline: none;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 22rem;
  }
  main {
    width: 25%;
    margin: 5.5rem auto;
  }
}

@media only screen and (max-width: 1085px) and (min-width: 600px) {
  main {
    width: 45%;
  }
}
/*# sourceMappingURL=style.css.map */