$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,400&display=swap');
html{
    font-family: 'Red Hat Display', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60rem;
}

main{
    text-align: center;
    width: 90%;
    margin: 4rem auto;
    border-radius: 1rem;
    overflow: hidden;
    background: $Very-pale-blue;
    header{
        img{
            width: 100%;
            max-width: 100%;
        }
    }
    footer{
        .footer-container{
            text-align: center;
            // width: 100%;
            padding: 2.8rem 1.5rem 2.5rem;
            h1{
                font-size: 1.5rem;
                color: $Dark-blue;
                margin-bottom: 1.2rem;
                font-weight: 700;
            }
            p{
                font-size: 0.9rem;
                color: $Desaturated-blue;
                line-height: 1.2rem;
                max-width: 15rem;
                margin: 0 auto;
                margin-bottom: 2.2rem;
            }
            .price-container{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                margin-bottom: 1.5rem;

                .annual{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h4{
                        color: $Dark-blue;
                        font-weight: 700;
                    }
                    .mn{
                        font-size: 0.9rem;
                        color: $Desaturated-blue;
                    }
                }
                a{
                    margin-left: 1.2rem;
                    color: $Bright-blue;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                    width: 100%;
                    border: none;
                    background: $Bright-blue;
                    color: $Very-pale-blue;
                    font-weight: 700;
                    padding: 0.9rem 0;
                    border-radius: 0.5rem;
                    font-size: 0.9rem;
                    margin-bottom: 1rem;
                    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.637) ;
                    cursor: pointer;
                }
                a{
                    font-size: 0.95rem;
                    color:$Desaturated-blue;
                    font-weight: 500;
                    text-decoration:none ;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 600px){
    body{
        background-image: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 22rem;
    }
    main{
        width: 25%;
        margin: 5.5rem auto;
    }
}
@media only screen and (max-width: 1085px) and (min-width: 600px){
    main{
        width: 45%;
        
    }
}
